

<h1>Employee's Skills List</h1>

<p>This component fetches all skills from server.</p>

<p *ngIf="!skills"><em>Loading...</em></p>

<!------------Add Skill Form------------------------->

<div class="container">
    <form class="form-horizontal">
        <fieldset>
            <legend>Add a New Skill</legend>


            <div class="form-group col-sm-12">
                <label class="control-label col-sm-2" for="email">Skill Name:</label>
                <div class="col-sm-3">
                    <input type="email" class="form-control" id="email" placeholder="Enter new skill" name="newSkill">
                </div>
                <div class="dropdown col-sm-4">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="category" data-toggle="dropdown">
                        Category
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                        <li *ngFor="let category of distCategories" role="presentation"><a role="menuitem" tabindex="-1" href="#">{{ category }}</a></li>

                    </ul>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<!------------------------------------->
<div>
    <table class='table' *ngIf="skills">
        <thead>
            <tr>
                <th>Skill Name</th>
                <th>Description</th>
                <th>Category</th>
                <th>Number of Employees with Skill</th>
                <th>Number of Available Employees </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let skill of skills">
                <td>{{ skill.skillTitle }}</td>
                <td>{{ skill.skillDescription }}</td>
                <td>{{ skill.typeName }}</td>
                <td>{{ skill.totalSkilledEmployees }}</td>
                <td>{{ skill.totalAvailableEmployees }}</td>
            </tr>
        </tbody>

    </table>

</div>


