

<h1>List of Skill-Categories</h1>

<p>This component fetches data from the server.</p>

<p *ngIf="!categories"><em>Loading...</em></p>

<!------------Add New Category------------------------->

<form class="form-inline">
    <h2>Skill-Category Database Update</h2>
    <br /><fieldset>
        <label for="position">Add New Category:</label>
        <input type="text" name="categoryName" id="categoryName" />
    </fieldset>
    <br />
    <fieldset>
        <label for="location">Short Description:</label>
        <textarea name="description" style="width:100%;"></textarea>
    </fieldset>
    <button>ADD</button>
</form>
<!------------------------------------->

<table class='table' *ngIf="categories">
    <thead>
        <tr>
            <th>Category ID</th>
            <th>Category Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let category of categories">
            <td>{{ category.typeId }}</td>
            <td>{{ category.typeName }}</td>
            <td>{{ category.typeDescription }}</td>
        </tr>
    </tbody>
</table>
