<p *ngIf="!employees"><em>Loading...</em></p>
<!------------Update Employee Form------------------------->

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h4 class="display-4">Selected Employee</h4>
        <form class="form-h">
            <div class="row">
                <div class="col-sm">
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <h5 class="display-6">Employee ID:</h5>
                            <label id="lblId">-</label>
                        </div>
                        <div class="col-sm-3">
                            <h5 class="display-6">Name:</h5>
                            <label id="lblName">-</label>
                        </div>
                        <div class="col-sm-3">
                            <h5 class="display-6">Level:</h5>
                            <label id="lblLevel">-</label>
                        </div>
                        <div class="col-sm-3">
                            <h5 class="display-6">Supervisor:</h5>
                            <label id="lblSupervisor">-</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <h5 class="display-6">Department:</h5>
                            <label id="lblDepartment">-</label>
                        </div>
                        <div class="col-sm-3">
                            <h5 class="display-6">Location:</h5>
                            <label id="lblLocation">-</label>
                        </div>
                        <div class="col-sm-3">
                            <h5 class="display-6">SOW:</h5>
                            <label id="lblSow">-</label>
                        </div>
                        <div class="col-sm-3">
                            <h5 class="display-6">Selected Skills:</h5>
                            <label id="lblSkills">skills displayed here....</label>
                        </div>
                    </div>
                </div>
            </div>
            <small id="updateComplete" class="alert-success"></small>
        </form>
    </div>
</div>
    <!------------Display Employee List------------------------->
    <div>
        <ng2-smart-table [settings]="settings" (editConfirm)="updateRecord($event)" [source]="source" class="table"></ng2-smart-table>
    </div>
