<div class='container-fluid'>
    <div class='row'>
        <div class='col-sm-3'>
            <app-nav-menu></app-nav-menu>
        </div>
        <div class='col-sm-9 body-content'>
            <!--<router-outlet></router-outlet>-->
            <h1>Counter</h1>

            <p>This is a simple example of an Angular component.</p>

            <p>Current count: <strong>{{ currentCount }}</strong></p>

            <button (click)="incrementCounter()">Increment</button>
        </div>
    </div>
</div>

