
<p *ngIf="!employeeInfos"><em>Loading...</em></p>
<!------------Add Skill Form------------------------->
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h3 class="display-4">Add New Employee</h3>
        <!--Begin Row-->
        <div class="row">
            <!--Begin Column 1-->
            <div class="col-sm">
                <form>
                    <!--Employee Name-->
                    <div class="row">
                        <div class="form-group ">
                            <label for="firstName">First Name :</label>
                            <input type="text" class="form-control" id="firstName" placeholder="Type in First Name" name="firstName">
                        </div>
                        <div class="form-group">
                            <label for="lastName">Last Name :</label>
                            <input type="text" class="form-control" id="lastName" placeholder="Type in Last Name" name="lastName">
                        </div>
                    </div>
                    <!--Level-->
                    <div class="form-group">
                        <label for="selectPosition">Level :</label>
                        <select class="custom-select" id="selectPosition">
                            <option selected>Select a Level...</option>
                            <option value="1">Junior Associate</option>
                            <option value="2">Associate</option>
                            <option value="3">Analyst I</option>
                            <option value="4">Analyst II</option>
                            <option value="5">Senior I</option>
                            <option value="6">Senior II</option>
                            <option value="7">Principal</option>
                        </select>
                    </div>
                    <!--Supervisor-->
                    <div class="form-group">
                        <label for="selectPosition">Supervisor :</label>
                        <select class="custom-select" id="selectSupervisor">
                            <option selected>Select a Supervisor...</option>
                            <option *ngFor="let supervisor of supervisors">{{ supervisor.supFirstName + ' ' + supervisor.supLastName }}</option>
                        </select>
                    </div>
                    <!--Department-->
                    <div class="form-group">
                        <label for="selectDepartment">Department :</label>
                        <select class="custom-select" id="selectDepartment">
                            <option selected>Select a Department...</option>
                            <option *ngFor="let department of departments" value="{{ department.departmentId }}">{{ department.departmentName }}</option>
                        </select>
                    </div>
                    <!--Location-->
                    <div class="form-group">
                        <label for="selectLocation">Location :</label>
                        <select class="custom-select" id="selectLocation">
                            <option selected>Select a Location...</option>
                            <option *ngFor="let location of locations" value="{{ location.locationId }}">{{ location.locationName }}</option>
                        </select>
                    </div>
                    <!--SOW-->
                    <div class="form-group">
                        <label for="selectSOW">SOW :</label>
                        <select class="custom-select" id="selectSOW">
                            <option selected>Select a SOW...</option>
                            <option *ngFor="let sow of sows" value="{{ sow.sowId }}">{{ sow.clientName }}</option>
                        </select>
                    </div>
                    <div class="input-group-append">
                        <button type="button" class="btn btn-primary">Add Employee</button>
                    </div>
                </form>
                <!--End Column 1-->
            </div>
            <!--Begni Column 2-->
            <div class="col-sm">
                    <ng2-smart-table [settings]="settings" [source]="source" (userRowSelect)="onRowSelect($event)" class="table"></ng2-smart-table>
            </div>
            <!--End Row-->
        </div>
        <div class="row">
            <div class="col-sm">
                <h5 class="display-5">Employee Info:</h5>
                <form class="form-inline">
                    <div class="row">
                        <div class="col-sm">
                            <h5 class="display-5">First Name:</h5>
                        </div>
                        <div class="col-sm">
                            <label id="employeeFName">Jhon</label>
                        </div>
                        <div class="col-sm">
                            <h5 class="display-5">Last Name:</h5>
                        </div>
                        <div class="col-sm">
                            <label for="employeeSkills">Doe</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <h5 class="display-5">Level:</h5>
                        </div>
                        <div class="col-sm">
                            <label id="level">Associate</label>
                        </div>
                        <div class="col-sm">
                            <h5 class="display-5">Supervisor:</h5>
                        </div>
                        <div class="col-sm">
                            <label for="supervisor">Allan Wingman</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <h5 class="display-5">Department:</h5>
                        </div>
                        <div class="col-sm">
                            <label id="department">.NET Developer</label>
                        </div>
                        <div class="col-sm">
                            <h5 class="display-5">Location:</h5>
                        </div>
                        <div class="col-sm">
                            <label for="location">Augusta</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <h5 class="display-5">SOW:</h5>
                        </div>
                        <div class="col-sm">
                            <label id="sow">Murphy LTd</label>
                        </div>
                        <div class="col-sm">
                            <h5 class="display-5">Add New Employee:</h5>
                        </div>
                        <div class="col-sm">
                            <div class="input-group-append">
                                <button type="button" class="btn btn-primary">Add Employee</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm"></div>
        </div>
    </div>
</div>
<!------------------------------------->
