<!--<p *ngIf="!employeeInfos"><em>Loading...</em></p>-->
<!------------Add Skill Form------------------------->
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <form #employeeForm="ngForm">

            <h3 class="display-4">Add New Employee</h3>
            <!--Begin 1.Row-->
            <div class="row">
                <!--Begin Column 1-->
                <div class="col-sm">

                    <!--Employee Name-->
                    <div class="row">
                        <div class="form-group ">
                            <label for="inputFirstName">First Name :</label>
                            <input type="text" name="fname" [(ngModel)]="fname" class="form-control" id="inputFirstName" placeholder="Type in First Name" (focusout)="getName()">
                        </div>
                        <div class="form-group">
                            <label for="inputLastName">Last Name :</label>
                            <input type="text" name="lname" [(ngModel)]="lname" class="form-control" id="inputLastName" placeholder="Type in Last Name" (focusout)="getName()">
                        </div>
                    </div>
                    <!--Level-->
                    <div class="form-group">
                        <label for="selectPosition">Level :</label>
                        <select name="position" [(ngModel)]="position" class="custom-select" id="selectPosition" (change)="getPosition()">
                            <option value="1">Junior Associate</option>
                            <option value="2">Associate</option>
                            <option value="3">Analyst I</option>
                            <option value="4">Analyst II</option>
                            <option value="5">Senior I</option>
                            <option value="6">Senior II</option>
                            <option value="7">Principal</option>
                        </select>
                    </div>
                    <!--Supervisor-->
                    <div class="form-group">
                        <label for="selectSupervisor">Supervisor :</label>
                        <select name="supervisor" [(ngModel)]="supervisor" class="custom-select" id="selectSupervisor" (change)="getSupervisor()">
                            <option *ngFor="let supervisor of supervisors" value="{{ supervisor.supFirstName + ' ' + supervisor.supLastName }}">{{ supervisor.supFirstName + ' ' + supervisor.supLastName }}</option>
                        </select>
                    </div>

                    <!--Department-->
                    <div class="form-group">
                        <label for="selectDepartment">Department :</label>
                        <select name="department" [(ngModel)]="department" class="custom-select" id="selectDepartment" (change)="getDepartment()">
                            <option *ngFor="let department of departments" value="{{ department.departmentId }}">{{ department.departmentName }}</option>
                        </select>
                    </div>
                    <!--Location-->
                    <div class="form-group">
                        <label for="selectLocation">Location :</label>
                        <select name="location" [(ngModel)]="location" class="custom-select" id="selectLocation" (change)="getLocation()">
                            <option *ngFor="let location of locations" value="{{ location.locationId }}">{{ location.locationName }}</option>
                        </select>
                    </div>
                    <!--SOW-->
                    <div class="form-group">
                        <label for="selectSOW">SOW :</label>
                        <select name="sow" [(ngModel)]="sow" class="custom-select" id="selectSOW" (change)="getSOW()">
                            <option *ngFor="let sow of sows" value="{{ sow.sowId }}">{{ sow.clientName }}</option>
                        </select>
                    </div>
                    <!--End Column 1-->
                </div>
                <!--Begni Column 2-->
                <div class="col-sm">
                    <ng2-smart-table [settings]="settings" [source]="source" (rowSelect)="onRowSelect($event)" class="table"></ng2-smart-table>
                </div>

            </div>
            <!--End 1.Row-->
            <!--Begin 2.Row-->
            <div class="row">
                <div class="col-sm">
                    <div class="row">
                        <div class="col-sm-6">
                            <h5 class="display-5">First Name:</h5>
                            <label id="lblFirstName">-</label>
                        </div>
                        <div class="col-sm-6">
                            <h5 class="display-5">Last Name:</h5>
                            <label id="lblLastName">-</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <h5 class="display-5">Level:</h5>
                            <label id="lblposition">-</label>
                        </div>
                        <div class="col-sm-6">
                            <h5 class="display-5">Supervisor:</h5>
                            <label id="lblsupervisor">-</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <h5 class="display-5">Department:</h5>
                            <label id="lbldepartment">-</label>
                        </div>
                        <div class="col-sm-6">
                            <h5 class="display-5">Location:</h5>
                            <label id="lbllocation">-</label>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="row">
                        <div class="col-sm-12">
                            <h5 class="display-5">Selected Skills:</h5>
                            <textarea readonly class="form-control" id="skillsTextArea" rows="4"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <h5 class="display-5">SOW:</h5>
                            <label id="lblsow">-</label>
                        </div>
                        <div  class="col-sm-6">
                            <button style="float:right" type="submit"class="btn btn-primary">Add Employee</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--End 2.Row-->
        </form>
    </div>
</div>
<!------------------------------------->
{{employeeForm.value | json}}


