<div class=" w3-light-grey"style="padding:50px;">

    <!-- Page Container -->
    <div class="w3-content w3-margin-top" style="max-width:1400px;">

        <!-- The Grid -->
        <div class="w3-row-padding">

            <!-- Left Column -->
            <div class="w3-third">

                <div class="w3-white w3-text-grey w3-card-4">
                    <div class="w3-display-container">
                        <img src="https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_960_720.png" style="width:100%" alt="Avatar">
                        <div class="w3-display-bottomleft w3-container w3-text-black">
                            <h2>Ariana Lee</h2>
                        </div>
                    </div>
                    <div class="w3-container">
                        <p><i class="fa fa-bell fa-fw w3-margin-right w3-large w3-text-teal"></i>SOW: Not Assigned</p>
                        <hr>
                        <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Position: Software Developer</p>
                        <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Location: Augusta, GA</p>
                        <p><i class="fa fa-user-circle fa-fw w3-margin-right w3-large w3-text-teal"></i>Manager: Prescott Lerch</p>

                        <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#myModal">Edit Info</button>
                        <hr>


                       <button  type="button" class="btn btn-danger" [routerLink]='["/"]' >Sign Out</button>

                        <br>

                    </div>
                </div><br>


                <!-- End Left Column -->
            </div>

            <!-- Right Column -->
            <div class="w3-twothird">

                <div class="w3-container w3-card w3-white w3-margin-bottom">
                    <h2 class="w3-text-grey w3-padding-16">Welcome <span id="userID"></span> !</h2>
                    <div class="w3-container">
                        <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Skills List</b></p>
                        <h5>Level of Experience</h5>


                    </div>
                    <!-- End Right Column -->
                </div>

                <!-- End Grid -->
            </div>
        </div>
    </div>
</div>
