
<p *ngIf="!categories"><em>Loading...</em></p>

<!------------Add New Category------------------------->

<div class="jumbotron jumbotron-fluid">
    <div class="container">

        <h3 class="display-4">Add New Category...</h3>
        <form class="form-horizontal" #categoryForm="ngForm"(ngSubmit)="saveCategory(categoryForm.value); categoryForm.reset()">
            <div class="form-group ">
                <label class="addCategory" for="categoryName">Category Name :</label>
                <input type="text"
                       class="form-control"
                       #typeName="ngModel"
                       [class.is-invalid]="typeName.invalid && typeName.touched"
                       required [(ngModel)]="category.typeName"
                       id="categoryName"
                       placeholder="Type in New Category"
                       name="categoryName" />
                <small class="text-danger" [class.d-none]="typeName.valid || typeName.untouched">Category name is required</small>
            </div>
            <div class="form-group form-skillCategory">
                <label class="addCategory" for="categoryDescription">Description :</label>
                <textarea id="categoryDescription"
                          class="form-control"
                          name="categoryDescription"
                          #typeDescription="ngModel"
                          [class.is-invalid]="typeDescription.invalid && typeDescription.touched"
                          required [(ngModel)]="category.typeDescription"
                          style="width:100%;">
                </textarea>
                <small class="text-danger" [class.d-none]="typeDescription.valid || typeDescription.untouched">Description is required</small>
            </div>
            <div class="input-group-append">
                <button type="button" [disabled]="categoryForm.form.invalid" class="btn btn-primary">Add Category</button>
            </div>
        </form>
    </div>
</div>
<!------------------------------------->

<table class='table' *ngIf="categories">
    <thead>
        <tr>
            <th>Category ID</th>
            <th>Category Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let category of categories">
            <td>{{ category.typeId }}</td>
            <td>{{ category.typeName }}</td>
            <td>{{ category.typeDescription }}</td>
        </tr>
    </tbody>
</table>
