<!------------Add Skill Form------------------------->
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="alert alert-success" role="alert">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Category was successfully created!</h5>
                </div>
            </div>
            <div class="modal-body">
                <table class='table' *ngIf="category">
                    <thead>
                        <tr>
                            <th>Category ID</th>
                            <th>Category Name</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ modalCategory.typeId }}</td>
                            <td>{{ modalCategory.typeName }}</td>
                            <td>{{ modalCategory.typeDescription }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div><div class="jumbotron jumbotron-fluid">

    <div class="container">


        <form class="form-horizontal" #skillForm="ngForm" (ngSubmit)="saveSkill(skillForm.value); skillForm.reset()">
            <h3 class="display-4">Add New Skill</h3>
            <label id="newSkill">herer is some text</label>
            <div class="form-group ">
                <label for="skillName">Skill Name :</label>
                <input type="text"
                       #SkillTitle="ngModel"
                       [class.is-invalid]="SkillTitle.invalid && SkillTitle.touched"
                       required
                       [(ngModel)]="allSkills.SkillTitle"
                       class="form-control"
                       id="skillName"
                       placeholder="Type in a new skill"
                       name="skillName">
                <small class="text-danger" [class.d-none]="SkillTitle.valid || SkillTitle.untouched">Skill name is required</small>
            </div>
            <div class="form-group ">
                <label class="addCategory" for="skillDescription">Description :</label>
                <textarea id="skillDescription"
                          name="skillDesc"
                          #skillDescription="ngModel"
                          [class.is-invalid]="skillDescription.invalid && skillDescription.touched"
                          required
                          [(ngModel)]="allSkills.skillDescription"
                          class="form-control"
                          style="width:100%;">
                </textarea>
                <small class="text-danger" [class.d-none]="skillDescription.valid || skillDescription.untouched">Description is required</small>
            </div>
            <div class="form-group">
                <label for="selectCategory">Category :</label>
                <select class="custom-select"
                        #typeName="ngModel"
                        [(ngModel)]="allCategories.typeName"
                        [class.is-invalid]="catHasError && typeName.touched"
                        id="selectCategory"
                        name="categoryId"
                        (change)="getCategory(typeName.value)"
                        (blur)="getCategory(typeName.value)">
                    <option *ngFor="let category of allCategories" value="{{ category.typeId}}">{{ category.typeName}}</option>
                </select>
                <small class="text-danger" [class.d-none]="!catHasError || typeName.untouched">Please choose a category</small>
            </div>
            <div class="input-group-append">
                <button type="submit" [disabled]="skillForm.form.invalid || catHasError" class="btn btn-primary">Add Skill</button>
            </div>
        </form>
    </div>
</div>
<!------------------------------------->
<div>
    <ng2-smart-table [settings]="settings" (editConfirm)="updateRecord($event)"
                     [source]="source" class="table"></ng2-smart-table>
</div>
